.App {
  text-align: center;
  margin-top: 100px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  font-size: 24px;
  font-weight: 700;
}
.flex {
  display: flex;
}
.gap-40 {
  gap: 40px;
}
.flex-between {
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}